<!--<h1 class="display-5 text-center bg-info">ASTERIA BOOKINGS PAGE</h1>-->
<article>

  <section class="theater">
    <div class="view_booking">
      <div class="view_booking__header">
        <h2>View Bookings</h2>
        <h3> </h3>

      </div>
      <!-- <div class="view_booking_container">
        <p> movie:Indiana Date:2022-03-02 14:47 Theater:kristianstad Seat:15</p>
      </div>-->
      <table class="view_booking_container">
        <thead>
          <tr>
            <th id=""> </th>
            <th>Movie</th>
            <th>Theater</th>
            <th>Time</th>
            <th>Date</th>
            <th>Adults No.</th>
            <th>Children No.</th>
            <th>Seniors No.</th>
            <th>Seat No.</th>

          </tr>
        </thead>
      </table>

    </div>
  </section>

</article>