
.view_booking {
  width: auto;
  background-color: black;
  opacity: 0.90;
  border: 2px solid rgb(131, 131, 131);;
  height: 100%;
  color: white;
  margin: 2%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.view_booking__header {
  display: grid;
}

.view_booking__header h1 {
  font-size: 40px;
  align-items: center;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
}

.view_booking__header h2 {
  font-size: 30px;
  padding: 10px;
  margin: 5px 2%;
  margin-bottom: 10px;
  text-align: left;
  border-bottom: 1px solid white;
  grid-column-start: 1;
  grid-column-end: 7;
}

.view_booking__header h3 {
  align-self: baseline;
  font-size: 25px;
  padding-top: 40px;
  padding-right: 30px;
  margin-top: 20px;
  margin: 5px 2%;
  text-align: right;
  grid-column-start: 7;
  grid-column-end: 12;
}

.view_booking__header p {
  align-self: center;
  text-align: left;
  grid-column: 2;
}
/*
.view_booking_container {
    text-align: left;
    padding: 6px;
  align-items: center;
  background-color:white;
  color: grey;
   display: flex;
    flex-direction: column;
 border: 3px inset gray;
} 
 tr, td {
  
    display: flex;
   flex-direction: column;
    width: 95%;
    
  align-self: center;
}*/
#graybooking{
  background-color: gray;
  color:rgb(5, 5, 5);
}

.view_booking_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background: #fff;
}
.view_booking_container thead {
    color: rgb(8, 8, 8);
    background: #e9da11;
}
.view_booking_container thead tr,
.view_booking_container tbody tr {
    display: flex;
}
.view_booking_container tbody tr+tr {
    border-top: 1px solid #ccc;
}
.view_booking_container thead tr th,
.view_booking_container tbody tr td {
    display: flex;
    flex: 1;
    padding: .5em;
    color: black;
}
@media screen and (max-width: 640px) {
    .view_booking_container {
        border: 0;
    }
    .view_booking_container thead {
        display: none;
    }
    .view_booking_container tbody tr {
        flex-direction: column;
        margin: 1em;
        border: 1px solid #ccc;
    }
    .view_booking_container tbody tr td {
        flex-direction: column;
    }
    .view_booking_container tbody tr td+td {
        border-top: 1px solid #ccc;
    }
    .view_booking_container tbody tr td:before {
        display: flex;
        align-items: center;
        margin: -.5em -.5em .75em -.5em;
        padding: .5em;
        content: attr(data-label);
        color: rgb(0, 0, 0);
        background: #e9da11;
    }
}

   



@media only screen and (max-width: 480px) {
  
 
  
  .view_booking__header h1 {
  font-size: 24px;
  padding: 10px;
  margin: 5px 2%;
  text-align: left;
  border-bottom: 1px solid white;
  grid-column-start: 1;
  grid-column-end: 3;
}

.view_booking__header h2 {
  font-size: 15px;
  padding-top: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin: 5px 2%;
  text-align: right;
  grid-column-start: 1;
  grid-column-end: 3;
}


}